@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  user-select: none;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}